@import "tailwindcss";

/* Enable smooth scrolling for the entire document */
html {
  scroll-behavior: smooth;
}

/* Default font for the entire website */
body {
  font-family: 'Bank Gothic', sans-serif;
}

@theme{
  --font-head: 'Harlow', 'sans-serif';
}

 @font-face {
        font-family: 'Bank Gothic';
        src: url('/fonts/bank gothic medium bt.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      
      @font-face {
        font-family: 'Copperplate Gothic';
        src: url('/fonts/Copperplate-Gothic-Std-30-AB.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    @font-face {
    font-family: 'Harlow';
    font-style: normal;
    font-weight: lighter;
    src: url('/fonts/Harlow.woff') format('woff');
    }

.harlow-solid {
  font-family: 'Harlow Solid', sans-serif;
  font-weight: normal;
}
/* Harlow Solid font class */
.harlow-solid-italic {
  font-family: 'Harlow Solid', sans-serif;
  font-weight: normal;
  font-style: italic;
}

/* Bank Gothic font class */
.bank-gothic {
  font-family: 'Bank Gothic', sans-serif;
  font-weight: normal;
}

/* Copperplate Gothic font class */
.copperplate-gothic {
  font-family: 'Copperplate Gothic', serif;
  font-weight: normal;
}



.transition-a {
  transition: all 0.25s ease-in-out;
}

a:active {
  text-emphasis-color: rgb(212, 212, 25);
}

.transition-a:hover {
  scale: 1.1;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}